
.header-ul
{
    color: white;
    list-style: none;
}

.link{
    text-decoration: none;
    color: white;
    transition: 0.3ms;
}
.link:hover{
    color: gray;
}


.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    flex-direction: column; 
}
.box
{
    padding: 10%;
    margin: 5%;
    max-width: 97%
}

/* .cards
{
    transition: 0.7ms;
}
.cards:hover{
    transform: scale(1.02);
    box-shadow: 0 0 13px black;
} */

.imgs {
    width: 100%; /* A imagem ocupa toda a largura disponível no container */
    height: 380px; /* Altura fixa para todas as imagens */
    object-fit: cover; /* Corta a imagem para preencher a área definida sem distorcer */
    object-position: center; /* Centraliza a parte visível da imagem */
  }
.button
{
    display: flex;
    align-items: center;
    justify-content: center;
}
  