body{
    background-color: azure;
        }

.header-ul
{
    color: white;
    list-style: none;
}

.link{
    text-decoration: none;
    color: white;
    transition: 0.3ms;
}
.link:hover{
    color: gray;
}


.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    flex-direction: column; 
}
.box
{
    padding: 10%;
    margin: 5%;
    max-width: 97%
}


.image-upload > input
    
{
    display: none;
}


/* .cards
{
    transition: 0.7ms;
}
.cards:hover{
    transform: scale(1.02);
    box-shadow: 0 0 13px black;
} */

.imgs {
    width: 100%; 
    height: 380px; 
    object-fit: cover; 
    object-position: center; 
}
.button
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-perfil
{
    margin: 20px;
    transition: 0.7ms;
    width: 150px;
    border-radius: 100%;
    height: 150px;
    object-fit: cover;
    
}

.img-perfil:hover{
    opacity: 80%;
}

.espaço{
    margin: 6%;
}


  